{{!-- about.hbs --}}

<div class="row">
    <aside class="col-md-3">
        <h2>Coming Soon</h2>
        <p>Stay tuned for future updates...</p>
    </aside>

    <section class="main col-md-9">
        <article>
            <h2>About</h2>
            <p>
                Hi, I'm Ashik Varghese John, a passionate Computer Programming student with a keen interest in building web applications, exploring emerging technologies, and tackling complex challenges. 
                My goal is to become an efficient software engineer and contribute to meaningful projects.
            </p>
            <p>
                I love diving into web development frameworks and experimenting with APIs to create dynamic, interactive applications. 
            </p>
        </article>
    </section>
</div>
